.chat-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .chat-window {
    width: 400px;
    height: 500px;
    /* background-color: cornflowerblue; */
    background-color: #fff7f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .message-list {
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .message-mine{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .message-others{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .message-mine .message {
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    
  }
  .message-others .message {
    width: auto;
    display: flex;
    flex-direction: row;
  }
  .content {
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px 12px;
    font-family: '맑은 고딕';
  }


  .message-mine .content {
    background-color: #FFD566;
    align-self: flex-end;
    
  }
  .message-others .content {
    align-self: flex-start;
    background-color: #f0f0f0;
  }
  .message-others .time {
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 10px;
  }
  .message-mine .time {
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 10px;
    
  }
  
  .username {
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 2px;
    /* justify-content: left; */
    display: inline-block;
  }
  
  .message-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
  }
  
  .message-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 10px;
    height: auto;
  }
  
  .send-button {
    padding: 8px 15px;
    background-color: #FFD566;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #FFA500;;
  }



  